/* 

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body{
  height: 150vh;
  width: 100vw;
}

.site-header{
  height: 10vh;
  width: 100vw;
  position: fixed;
  display: flex;
  background-color: rgb(37, 37, 37);
  /* justify-content: space-evenly; */
  align-items: center;
  z-index: 1;
}
.box1{
  font-size: 30px;
  color: rgb(42, 171, 226);
  position: relative;
  left: 15px;
}
.box2{
  color: rgb(255, 255, 255);
  display: flex;
  /* justify-content: flex-end; */
  position: relative;
  left: 600px;
 
}
.tags{
  display: inline;
  margin-left: 60px;
}
main{
  width: 55vw;
  position: relative;
  top: 10vh;
  left: 10vw;
  right: 20vw;
  flex-wrap: wrap;
  
  
}
.profilePic{
  height: 30vh;
  position: relative;
  left: -120px;
  top: 10px;
}
.yourName{
  position: relative;
  left: 70px;
  top: 15px;
}
.bodyBox1{
  position: absolute;
  top: 20vh;
  left: 70vw;
  height: 40vh;
  width: 20vw;
  box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.43);
  /* z-index: 1; */
  justify-content: center;
}
.bodyBox2{
  position: absolute;
  top: 67vh;
  left: 70vw;
  height: 51vh;
  width: 20vw;
  box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.43);
  z-index: 1;
  padding: 25px;
 
}
.articles{
  margin-left: 22px;
  font-size: 21px;
}
ol{
  position: relative;
  top: 10px;
  left: 40px;
}
li{
  margin: 12px;
}

.pageName{
  font-size: 25px;
  position: relative;
  top: 4vh;
}
.paragraph{
  position: relative;
  top: 8vh;
}



.imageGallery{
  position: relative;
  justify-content: space-between;
  top: 12vh;
  font-size: 15px;
}
img{
  width: 15vw;
  position: relative;
  top: 5vh;
  left: 5vh;
}
footer{
  position: relative;
  justify-content: flex-end;
  background-color: rgb(42, 171, 226);
  color: rgb(37, 37, 37);
  height: 7vh;
  top: 40vh;
}
.help{
  height: 50px;
  width: 50px;
  position: fixed;
  top: 90vh;
  left: 94vw;
  z-index: 1;
  background-color: transparent;
}